<%= form_for([@event, @guest]) do |f| %>
<% if @guest.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

  <ul>
    <% @guest.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<a onclick="buttonifyDishes()">I'll bring food...</a><br>
<a onclick="buttonifyMoneys()">I'll bring money...</a>

<div class="field" id="dishes_to_list", hidden>
  <p id = "dishes_for_clicking">
    <%= @event.dishes %>
  </p>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :dishes %>
  <%= f.text_field :dishes %>
</div>

  <div class="actions" >
    <a onclick="addDishesToGuest()">
    <%= f.submit class: "btn btn-primary"%>
  </a>
  </div>

  <% end %>
