<div id="target">
<%= form_for([@event, @guest]) do |f| %>
<% if @guest.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

  <ul>
    <% @guest.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.label :name, "Who are you?" %>
  <%= f.text_field :name, :placeholder=>"The Cheshire Cat" %>
</div>

<div class="field">
  <%= f.label :email, "Your Email (Optional)" %>
  <%= f.text_field :email, :placeholder=>"BigSmiles@yahoo.com" %>
</div>

<button class="btn btn-block" id="bringin_somethin" type="button" data-placement="left" data-trigger="manual" data-animation="true" data-content="There are no more suggested items to bring." data-toggle="button" onclick="buttonifyDishes()">I'll bring something</button>

<div class="field" id="dishes_to_list", hidden>
  <p id = "dishes_for_clicking">
    <%= @event.dishes %>
  </p>
  <% if @event.cash? %>
  <div class="field" id="how_much">
  <label class="checkbox", rel="tooltip", data-placement="left" title="<%=@event.who%> suggested bringing <%=number_to_currency(@event.howmuch)%>" >
    <p id="cash" for="guest[bringing_cash]"> <%= f.check_box :bringing_cash, id: 'cash_check_box'%> 
    I'll chip in some cash</p>
  </label>
    <br>
  </div>
  <% end %>
</div>

  <div class="field", hidden>
    <%= f.label :dishes %>
    <%= f.text_field :dishes %>
  </div>

  <div class="actions" >
    <a>
      <%= f.submit "RSVP", class: "btn btn-block btn-primary", id: "verifyName" %>
    </a>
  </div>
</div>

  <% end %>

