<h1>Listing guests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Guest</th>
    <th>Email</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td>
    <td><%= guest.guest_id %></td>
    <td><%= guest.email %></td>
    <td><%= guest.event %></td>
    <td><%= link_to 'Show', guest %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
    <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_guest_path %>
