<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div class="alert alert-error">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="hero-unit">
  <h1>What2Bring</h1>
  <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
  <h3>Let's get started:</h3>
  <form class="form">
    <div class="control-group">
      <%= f.label "My event is called", 
      class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Tea Party" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <h2>Where & When?</h2>
      <div class="control-group">
        <div class="field">
         <%= f.label "When?" %>
         <%= f.text_field :datec, :placeholder =>"Next tuesday at noon" %>
       </div>
     </div>
     <div class="control-group">
       <%= f.label "Where?" %>
       <%= f.text_field :location, :placeholder=>"At the Mad Hatter's" %>
     </div>
     <div class="control-group">
       <%= f.label "Description (Optional)" %>
       <%= f.text_area :description, :placeholder=>"We're going to drink tea and eat crumpets– and the Ceshire Cat may make an appearance!" %>
     </div>
   </div>

   <div class="span5">
    <h2>Who?</h2>
    <div class="control-group">
      <%= f.label :who, "Who are you?" %>
      <%= f.text_field :who, :placeholder=>"Alice" %>
    </div>
    <div class="control-group">
       <%= f.label :email, :rel=>"tooltip", :title=>"We will send you an email to confirm your event", :data=>{:placement=>"left"}%>
      <%= f.text_field :email, :placeholder=>"alice@wonderland.com" %>
    </div>
    <div class="control-group">
      <%= f.label :how_many_guests, :rel=>"tooltip",  :title=>"When2Meet will only allow this many people to RSVP for this event", :data=>{:placement=>"left"}%>
      <%= f.number_field :how_many_guests, :placeholder=>"4", :min=>"1" %>
    </div>
    <div class="control-group", hidden>
      <%= f.label "What are their emails? (optional)" %>
      <%= f.text_area :emails %>
    </div>
  </div>

  <div class="span5">
    <h2>What?</h2>
    <div class="control-group">
      <%= f.label "Would you like guests to bring anything?" %>
      <a onkeypress='addDishWithKey(event)'>
      <%= f.text_field :dishes_temp, :placeholder=>"crumpets"%>
    </a>
      <a onclick="addDish()"><strong>Add</strong></a>
    </div>
    <div class="control-group", hidden>
      <%= f.text_area :dishes %>
    </div>
    <div class="control-group">
      <%= f.label "Would you like guests to chip in some cash?" %>
       <a onclick = 'showMoney()'>
      <%= f.check_box :cash %>
    </a>
  </div>
    <div class="control-group-cash", hidden>
      <%= f.label "How much?" %>
      <a>
        $ <%= f.text_field :howmuch %>
      </a>
    </div>
  </div>
</div>

<row>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
    <div class="pull-right">
      <img src="../assets/jadams.jpeg" alt="Mr. Adams does too" id="jadams", hidden>
    </div>
  </div>
</row>

</form>

<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>


<% end %>