<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="hero-unit">
  <h1>What2Bring</h1>
  <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
  <h3>Let's get started:</h3>
  <form class="form">
    <div class="control-group">
      <%= f.label "Name your event", 
      class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <h2>Where & When?</h2>
      <div class="control-group">
        <div class="field">
         <%= f.label "What Day?  What Time?" %><br />
         <%= f.text_field :datec %>
       </div>
     </div>
     <div class="control-group">
       <%= f.label :location %>
       <%= f.text_field :location %>
     </div>
     <div class="control-group">
       <%= f.label "Event Description" %>
       <%= f.text_area :description %>
     </div>
   </div>

   <div class="span5">
    <h2>Who?</h2>
    <div class="control-group">
      <%= f.label "Who are you?" %>
      <%= f.text_field :who %>
    </div>
    <div class="control-group">
      <%= f.label "Your email address" %>
      <%= f.text_field :email %>
    </div>
    <div class="control-group">
      <%= f.label "How many guests can you host?" %>
      <%= f.number_field :how_many_guests %>
    </div>
    <div class="control-group">
      <%= f.label "What are their emails? (optional)" %>
      <%= f.text_area :emails %>
    </div>
  </div>

  <div class="span5">
    <h2>What?</h2>
    <div class="control-group">
      <a onclick="addDish()"><strong>Add</strong></a>
      <%= f.text_field :dishes_temp %> 
      <%= f.label :dishes, id: 'dishes_label' %>
      <%= f.text_field :dishes %>
    </div>
    <div class="control-group">
      <%= f.label "Can guests pay with cash?" %>
      <%= f.check_box :cash %>
    </div>
    <div class="control-group">
      <%= f.label "How much?" %>
      <%= f.text_field :howmuch %>
    </div>
  </div>
</div>

<row>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</row>

</form>
<% end %>