<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="hero-unit">
  <h1>What2Bring</h1>
  <p>You already know when it's happenening.  Now, it's only a question of who's coming and what they're bringing.</p>
  <h3>Let's get started:</h3>
  <form class="form">
    <div class="control-group">
      <%= f.label "My event is called", 
      class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Tea Party" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <h2>Where & When?</h2>
      <div class="control-group">
        <div class="field">
         <%= f.label "When?" %>
         <%= f.text_field :datec, :placeholder =>"Next tuesday at noon" %>
       </div>
     </div>
     <div class="control-group">
       <%= f.label "Where?" %>
       <%= f.text_field :location, :placeholder=>"At the Mad Hatter's" %>
     </div>
     <div class="control-group">
       <%= f.label "Description (Optional)" %>
       <%= f.text_area :description, :placeholder=>"We're going to drink tea and eat crumpets– and the Ceshire Cat may make an appearance!" %>
     </div>
   </div>

   <div class="span5">
    <h2>Who?</h2>
    <div class="control-group">
      <%= f.label "Who are you?" %>
      <%= f.text_field :who, :placeholder=>"Alice" %>
    </div>
    <div class="control-group">
      <a href="#" rel="tooltip" data-placement="right">Your email</a>
      <%= f.text_field :email, :placeholder=>"alice@wonderland.com" %>
    </div>
    <div class="control-group">
      <%= f.label "How many guests can you host? (optional)" %>
      <%= f.number_field :how_many_guests, :placeholder=>"4" %>
    </div>
    <div class="control-group", hidden>
      <%= f.label "What are their emails? (optional)" %>
      <%= f.text_area :emails %>
    </div>
  </div>

  <div class="span5">
    <h2>What?</h2>
    <div class="control-group">
      <%= f.text_field :dishes_temp, :placeholder=>"crumpets" %>
      <a onclick="addDish()"><strong>Add</strong></a>
    </div>
    <div class="control-group", hidden>
      <%= f.text_field :dishes %>
    </div>
    <div class="control-group">
      <%= f.label "Can guests pay with cash?" %>
      <%= f.check_box :cash %>
    </div>
    <div class="control-group-cash">
      <%= f.label "How much?" %>
      <a>
        $ <%= f.text_field :howmuch %>
      </a>
    </div>
  </div>
</div>

<row>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</row>

</form>
<% end %>