<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, 
                class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="control-group">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="control-group">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="control-group">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="control-group">
    <%= f.label :who %><br />
    <%= f.text_field :who %>
  </div>
  <div class="control-group">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="control-group">
    <%= f.label :guests %><br />
    <%= f.number_field :guests %>
  </div>
  <div class="control-group">
    <%= f.label :emails %><br />
    <%= f.text_area :emails %>
  </div>
  <div class="control-group">
    <%= f.label :dishes %><br />
    <%= f.text_area :dishes %>
  </div>
  <div class="control-group">
    <%= f.label :cash %><br />
    <%= f.check_box :cash %>
  </div>
  <div class="control-group">
    <%= f.label :howmuch %><br />
    <%= f.text_field :howmuch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
