<p id="notice"><%= notice %></p>




<div class = "hero-unit">
  <div class = "hero-container">
    <p>
      <h4><%= @event.who %> is having a </h4>
      <h1><%= @event.name %>!!!</h1>
      <p><h2>Can you make it?</h2></p>
      <p><h4>It's on <%= @event.datec.strftime('%d %b %Y') %> at 
        <%= @event.datec.strftime('%I : %M %p') %></h4></p>
      </p>
    </div> <!-- end hero container -->
    <div class = "picture">
      <img src="/assets/funevent.png" alt="it's gonna be awesome!">

    </div>  <!-- end picture -->
  </div> <!-- end hero unit -->

  <div class="row">
    <div class="span5">
      <p>
        <b>Where?</b>
        <%= @event.location %>
      </p>

      <p>
        <b>What?</b>
        <%= @event.description %>
      </p>

      <p class = "hidden">
        <b>How many guests could come?</b>
        <%= @event.how_many_guests %>
      </p>
      <p>
        <b>I can bring...</b>
      </p>
      <p id = "dishes_for_listing">
        <%= @event.dishes %>
      </p>

      <b>Dishes Brought</b>
      <p id = "dishes_brought">
        <%= @event.dishes_temp %>
      </p>


      <% if @event.cash? %>
        <p>
          <b>How much?</b>
          <%= @event.howmuch %>
        </p>
      <% end %>

    </div> <!-- end of span5 -->
    <div class = "span5">
      <p>
        <b> Who's coming? </b>
      </p>
      <p id="names">
        <%= @guests_names %>
      </p><p>
      
      <%= link_to 'Get me on this list!', new_event_guest_path( @event ), id: 'new_guest' %>
    </p>
  </div> <!-- span5 -->
  <div class = "span5">
    <p id = 'rsvp'>
    </p>
  </div> <!-- span5 -->
</div> <!-- end of row -->




<body onload="listDishes(), nameParser()">





<!--
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
