<p id="notice"><%= notice %></p>


<p>
  <h4><%= @event.who %> is having a </h4>
  <h1><%= @event.name %>!!!</h1>
</p>

<img src="../assets/funevent.jpeg" alt="it's gonna be awesome!">

<p><h2>Can you make it?</h2></p>
<p><h4>It's on <%= @event.datec.strftime('%d %b %Y') %> at 
  <%= @event.datec.strftime('%I : %M %p') %></h4></p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<!--
<p>
  <b>Email:</b>
  <%= @event.email %>
</p>
-->

<p>
  <b>Guests Invited:</b>
  <%= @event.how_many_guests %>
</p>

<p>
  <b>Guests Coming:</b>
</p>


<!--
<p>
  <b>Emails:</b>
  <%= @event.emails %>
</p>
-->

<p>
  <b>Dishes:</b>
  <%= @event.dishes %>
</p>

<p>
  <b>Cash:</b>
  <%= @event.cash %>
</p>

<p>
  <b>Howmuch:</b>
  <%= @event.howmuch %>
</p>

<%= link_to 'RSVP', guest_rsvp_path(:id => @event.id) %>
<!--
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
-->