<p id="notice"><%= notice %></p>




<div class = "hero-unit">
  <div class = "hero-container">
    <p>
      <h4><%= @event.who %> is having a </h4>
      <h1><%= @event.name %>!!!</h1>
      <p><h2>Can you make it?</h2></p>
      <p><h4>It's on <%= @event.datec.strftime('%d %b %Y') %> at 
        <%= @event.datec.strftime('%I : %M %p') %></h4></p>
      </p>
    </div> <!-- end hero container -->
    <div class = "picture">
      <img src="/assets/funevent.png" alt="it's gonna be awesome!">

    </div>  <!-- end picture -->
  </div> <!-- end hero unit -->

  <div class="row">
    <div class="span5">
      <a class="pull-left" href="#">
        <embed src="/assets/where.svg" width="63" height="63" type="image/svg+xml" codebase="http://www.adobe.com/svg/viewer/install" />
      </a>
      <div class="well">
        <h4 class="media-heading">Where?</h4>
        <%= @event.location %>
      </div>

      <a class="pull-left" href="#">
        <embed src="/assets/clock.svg" width="57" height="57" type="image/svg+xml" codebase="http://www.adobe.com/svg/viewer/install" />
      </a>
      <div class="well">
        <h4 class="media-heading">When?</h4>
        <%= @event.datec.strftime('%d %b %Y') %> at <%= @event.datec.strftime('%I : %M %p') %>
      </div>

      <% if @event.description != "" %>
      
      <a class="pull-left" href="#">
        <embed src="/assets/question.svg" width="65" height="65" type="image/svg+xml" codebase="http://www.adobe.com/svg/viewer/install" class='svg_pic' />
      </a>

      <div class="well">
        <h4 class="media-heading">What?</h4>
        <%= @event.description %>
      </div>

      <% end %>

      <p class = "hidden">
        <b>How many guests could come?</b>
        <%= @event.how_many_guests %>
      </p>


      <div class = 'bottle_div'>
        <a class="pull-left" href="#">
          <embed src="/assets/bottle.svg" width="75" height="80" type="image/svg+xml" codebase="http://www.adobe.com/svg/viewer/install" class='svg_pic' />
        </a>

        <div class = well>
          <h4 class="media-heading">I can bring...</h4>
          <span id = "dishes_for_seeing"></span>
        </div>
      </div>
      <p id = "dishes_for_listing", hidden>
        <%= @event.dishes %>
      </p>

      <p id = "dishes_brought", hidden>
        <%= @event.dishes_temp %>
      </p>

      <% if @event.cash? %>

      <a class="pull-left" href="#">
        <embed src="/assets/money.svg" width="65" height="60" type="image/svg+xml" codebase="http://www.adobe.com/svg/viewer/install" class='svg_pic' />
      </a>

      <div class="well">
        <h4 class="media-heading">How much?</h4>
        $<%= @event.howmuch %>
      </div>
      <% end %>

    </div> <!-- end of span5 -->
    <div class = "span5">
      <div>
        <b> Attendees </b>
      </div>
      <div>
      <div id="attendees">

      </div>
    </div>
      <p id="attending_names", hidden>
        <%= @guests_names %>
      </p>

      <p id="number_of_attendees", hidden>
        <%= @event.how_many_guests %>

      </p>

      <p id="attending_dishes", hidden>
        <%= @guests_dishes %>
      <p>

      <%= link_to 'Get me on this list!', new_event_guest_path( @event ), id: 'new_guest' %>
    </p>
  </div> <!-- span5 -->
  <div class = "span5">
    <p id = 'rsvp'>
    </p>
  </div> <!-- span5 -->
</div> <!-- end of row -->




<body onload="listDishes(), guestParser()">





<!--
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
